.tippy-content {
    background-color: #EAFBFCFF !important;
    border-radius: 20px;
  }
  
  .tippy-box {
    min-width: 250px;
    background-color: #EAFBFCFF !important;
    border-radius: 4px;
    padding: 4px 2px;
    border: 1px solid ;

  }

  .tippy-box:focus {
    outline: none;
}
.tippy-box *:focus {
    outline: none;
}