*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 215px;
    height: 100vh;
    border: 1px solid black;
    /* background-color: #f0f0f0; */
    padding: 10px 0px 0px 0px;
    position: relative;
    transition: width 0.3s ease;
  }

  .sidebar_content{
    background-color: #009196FF;
  }

  .sidebar_header{
    font-size: 2rem;
    border-bottom: 1px solid gray;
    text-align: center;
    padding-bottom: 10px;
  }

  .sidebar_search{
    width: 92%;
    margin: 1rem auto;
    display: flex;
    gap: 5px;
  }

  .search_icon{
    display: block;
    color: #433e3e;
    width: 1.4rem;
    background-color: transparent;
    margin-top: 8px;
    margin-left: -30px;
    cursor: pointer;
  }

  .searchbar {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sidebar_element {
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    border: 1px solid #009196FF;
    padding: 10px;
    background-color: #EAFBFCFF;
    cursor: pointer;
    font-size: 1rem;
  } 
  .sidebar_sub_element {
    display: flex;
    justify-content: space-between;
    border: 1px solid #009196FF;
    padding: 10px 11px 10px 30px;
    background-color: #EAFBFCFF;
    cursor: pointer;
    font-size: 0.9rem;
  } 

  .sidebar_sub_2_element{
    border: 1px solid #009196FF;
    padding: 10px 11px 10px 40px;
    background-color: #EAFBFCFF;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .sidebar_sub_3_element {
    display: flex;
    justify-content: space-between;
    border: 1px solid #009196FF;
    padding: 10px 11px 10px 40px;
    background-color: #EAFBFCFF;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .left {
    position: absolute;
    top: 6.2%;
    left: 93.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    font-size: 1.9rem;
    border-radius: 50%;
  }
  .right {
    left: 60%;
  }

  .empty-div {
    width: 35px;
    height: 100vh;
    border: 1px solid black;
    padding: 10px 0px 0px 0px;
    position: relative;
    transition: width 0.3s ease;
  }

  /* #009196FF
  #EAFBFCFF
  #009196FF */