@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.input_field {
  @apply h-[1.563rem] text-base text-[#474747] px-2 py-[0.18rem] bg-[#fff] rounded border-solid border-[0.063rem] border-[hsl(210,14%,83%)]
}

.table_edit_buttons {
  @apply flex gap-[0.7rem] items-center justify-center h-full;
}

.custom-header {
  @apply bg-[#009196FF] text-[white];
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
